body{
    font-size: 15px;
    background-color: rgb(160, 246, 170);
}


body.font-large{
    zoom:1.3;
}

body:before{
    content:'';
    display: block;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    z-index: 30;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms;
}

body.overlay:before{
    pointer-events: auto;
    opacity: 1;
}

#font-large{
    background-size: contain;
    background-position: center center;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
}

.disabled{
    pointer-events: none;
}

@media (max-width: 768px) {

    main{
        margin: 4em;
    }

}