<style>

    .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }

   .campo2{

       float: right;

   }
</style>

<meta charset="UTF-8">

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>Fattura n.</h2> <h3>@yield('numero_fattura')</h3>
            </div>
            <hr>
            <div class="campo2">
                <address>
                    <strong>Nome asd:</strong><br>
                    @yield('nome_asd')<br><br>
                    <strong>Indirizzo:  </strong><br>
                    @yield('indirizzo')
                </address>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <address>
                    <strong>Metodo di pagamento:</strong><br>
                    @yield('metodo_pagamento')<br><br>
                </address>
            </div>
            <div class="col-xs-6 text-right">
                <address>
                    <strong>Data emissione:</strong><br>
                    @yield('data_creazione')<br><br>
                </address>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Importo:</strong></h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <td><strong>@yield('importo')€</strong></td>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>